#root {
  background-image: url('../graffiti.jpg');
}
.app-page {
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(34, 34, 34, .5);
  transition: background-color 1s;
}
.app-page:hover {
  background-color: rgba(34, 34, 34, .8);
}

.intro {
  text-align: center;
  color: green;
  transition: color 1s;
}

.intro:hover {
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.intro-header {
  height: 150px;
  padding: 20px;
}

.intro-title {
  font-size: 1.5em;
}

h1.projects {
  font-size: large;
}
h3 {
  font-size: inherit;
}

img {
  width: 200px;
  height: 190px;
  float: left;
  display: inline;
  align: left;
  border: 1px black solid;
  margin-right: 15px;
  margin-bottom: 20px;
}

p.shpeal {
  display: inline;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 50%;
}

h1.about-me-title {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
