#root {
  overflow: auto;
}
.app-page {
  margin-left: 100px;
  margin-right: 100px;
  /*background-color: rgba(34, 34, 34, .4);
  transition: background-color 1s;*/
  overflow: auto;
  /*padding-bottom: 450px;*/
  /*border: solid black 2px;
  border-radius: 10px;*/
}
/*.app-page:hover {
  background-color: rgba(56, 56, 56, 0.7);
  background-color: white;
}*/

.intro, .projects {
  text-align: left;
  color: #00ff00;
  transition: color 1s;
  overflow: auto;
}

/*.intro:hover, .projects:hover {
  color: white;
}*/

.intro-header {
  /*height: 150px;*/
  padding: 20px;
}

.intro-title {
  font-size: 1.3em;
  margin-bottom: 0;
}

.intro-subtitle {
  margin-top: 0;
  margin-left: 15px;
  font-size: .8em;
}
span#inst-msg {
  text-align: center;
  font-size: 1.5em;
}
.projects-title {
  /*font-size: large;*/
  padding-top: 15px;
}
/*.projects-subtitle {
  font-size: .95em;
}*/

.project {
  padding: auto;
}

img.about-me-pic {
  width: 200px;
  height: 190px;
  float: left;
  display: inline;
  align: left;
  border: 1px black solid;
  margin-right: 15px;
  margin-bottom: 20px;
}

.projects-list-div {
  width: auto;
  overflow: hidden;
}

.projects-list {
  width: 100%;
  height: 100%;
  display: inline;
}

.project-container {
  position: relative;
  text-align: left;
  color: white;
  font-weight: bold;
  width: 300px;
  height: 300px;
}

.projects {
  color: white;
}

.project {
  width: 30%;
  text-align: center;
  font-size: .7em;
  padding: 15px;
  border-radius: 3px;
}

#gardening-brief {
  background-color: #2B813E;
  transition: background-color .3s;
}

#gardening-brief:hover {
  background-color: #18e946;
}

span.project-hidden-title {
  font-size: 2em;
}

span.project-hidden-desc {
  display: block;
  font-size: 1.5em;
}
/*p.project-hidden-brief {
  background-color: #15a534;
}*/

#acceptable-losses-brief {
  background-color: #303E73;
  transition: background-color .3s;
}

#acceptable-losses-brief:hover {
  background-color: #6c83dd;
}

#learning-brief {
  background-color: #0F454F;
  transition: background-color .3s;
}

#learning-brief:hover {
  background-color: #119cb6;
}
img.project-icon {
  width: 100px;
  height: 100px;
}
div.projects-list-div {
  margin: 30px;
}
.project-expanded {
  padding: 30px;
  margin: 15px;
}

/*.project-screenshots {
  display: inline;
  position: relative;
  text-align: left;
  width: 50%;
  height: 310px;
}*/

@keyframes fadein {
  from { visibility: hidden; }
  to { visibility: visible; }
}

/*.project-screenshots img {
  width: 100%;
  height: 95%;
}*/

div.hidden-expanded {
  animation-name: fadein;
  animation-duration: 2s;
}
div.project-container-expanded {
  overflow: auto;
}
div.project-screenshots {
  display: inline;
  width: 40%;
  overflow: auto;
  text-align: right;
}
a.project-link {
  /*text-decoration: none;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;*/
  width: 100%;
  height: 100%;
  position: relative;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 10px;
  margin-right: 20px;
  padding-top: 50px;
  color: white;
  text-shadow: 1px 1px black;
  transition: color 1s;*/
}
img.project-pic {
  max-width: 30%;
  height: 400px;
  object-fit: contain;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 50px;
  float: left;
}
.project-information {
  overflow: auto;
  display: inline;
  width: 40%;
  text-align: left;
  margin-top: 50px;
}
.project-information * {
  margin-right: 30%;
}
.project-expanded-title {
  margin-top: 50px;
  margin-bottom: 0;
  font-weight: lighter;
}
.project-expanded-subtitle {
  margin-top: 0;
  margin-left: 15px;
  font-size: 1.2em;
  font-weight: lighter;
}
.project-expanded-long, .project-expanded-techstack {
  font-size: .9em;
}
a {
  text-decoration: none;
}
p.project-expanded-github {
  padding-bottom: 25px;
}
p.project-expanded-github a {
  color: #00ff00;
  margin: 10px;
  transition: color .5s;
}
p.project-expanded-github a:hover {
  color: white;
}
a.project-link-button {
  /*border: 1px solid white;*/
  background-color: #2B813E;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

/*a {
  text-decoration: none;
}*/
/*div.projects:hover div.projects-list-div .project-link {
  color: #00ff00;
  transition: color .5s;
}
div.projects div.projects-list-div .project-link:hover {
  color: #ffe200;
}*/
ul {
  list-style: none;
  display: block;
  float: left;
  height: auto;
}
li {
  width: 30%;
  height: 90%;
  float: left;
  padding-left: 20px;
  /*padding-right: 15px;*/
}
div.about-me-section {
  overflow: auto;
}
.about-me-comp {
  display: inline;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 50%;
  color: white;
  /*transition: color 1s;*/
}
/*.about-me-comp:hover {
  color: white;
}*/
.about-me-comp a {
  color: #5252d5;
  transition: color 1s;
}
.about-me-comp:hover a {
  color: #00ff00;
  transition: color .5s;
}
.about-me-comp a:hover {
  color: #ffe200;
}
h1.about-me-title {
  text-align: center;
}
h1.projects-title {
  text-align: center;
}
span {
  font-size: 2em;
}
span.code-name {
  color: white;
  transition: color 1s;
}
span.code-name:hover {
  color: #00ff00;
}
span.code-white {
  color: white;
}
span.code-red {
  color: #bb4060;
}
span.code-blue {
  color: #64c8e9;
}
.projects-title span.code-white {
  color: #00ff00;
  transition: color 1s;
}
.projects-title span.code-white:hover {
  color: white;
}
span.code-green {
  color: #00ff00;
}
/*img.project-pic:hover, span.code-green:hover {
  background-color: rgba(34, 34, 34, .8);
}*/
@media only screen and (max-width: 1290px) {
  ul {
    padding: 0;
  }
}
@media only screen and (max-width: 1160px) {
  /*.project-container {
    height: 220px;
    width: 220px;
  }*/
  ul {
    display: block;
    clear: both;
    width: 100%;
    padding-left: 10px;
  }
  li.project {
    padding-left: 0px;
    display: block;
    width: 30%;
    height: 260px;
    margin-right: 10px;
  }
  .project-container {
    height: 100%;
    width: 100%;
  }
  img.project-pic {
    margin: 0px;
  }
}
@media only screen and (max-width: 930px) {
  li.project {
    width: 100%;
    height: 230px;
  }
  .project-container {
    width: 330px;
    margin: auto;
  }
}
@media only screen and (max-width: 640px) {
  ul {
    padding-left: auto;
  }
  li {
    width: 70%;
    padding: 0;
  }
  .project-container {
    width: 80%;
  }
  div.project-screenshots {
    /*max-width: 80%;
    max-height: 100%;*/
    margin: auto;
    max-width: 100%;
  }
  div.project-expanded {
    padding: 5px;
  }
  a.project-link {
    /*max-width: 100%;
    max-height: 70%;*/
    margin: 0;
    padding: 0;
  }
  img.project-pic {
    margin: auto;
    object-fit: contain;
    /*max-width: 100%;
    max-height: 100%;*/
  }
  .app-page {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .projects-subtitle {
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-me-comp {
    max-width: 100%;
  }
  img.about-me-pic {
    margin: 15px;
    width: 90%;
    height: auto;
  }
}