body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #255E69;
  /*background-image: linear-gradient(to bottom right, #31da31, #5252d5);*/
  /*background-image: linear-gradient(lightblue, #6fe56f, lightblue);*/
}
